@keyframes rotation {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 50px;
    color: white;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(Wallpaper.jpg);

}
nav{
    background-color:rgba(18, 1, 87, 0.724);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 10px;
}
ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
}
li{
    position: relative;
}
a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(204, 180, 180);
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 150px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s easy-in-out;
}
animate{
    font-size: 24px;
    animation:slideIn 3s ease infinite;
}
li:hover .dropdown-content {
    display: block;
    opacity: 1;
}
.dropdown-content{
    color: white;
    padding: 10px 0;
    text-align: center;
}
.content{
    align-content: center;
    margin-top: 100px;
    font-size: 50px;
}
.btn{
    position:absolute;
    bottom: 0;
    background-color:rgba(0, 0, 90, 0.726);
    color: white;
    width: 90px;
    height: 30px;
    border: none;
}
.btn:hover{
    background-color:white;
    color: black;
}
.content {
transform: rotate3d(30deg);
}
.content {
background-color: transparent;
transform: rotate(45deg);
animation: rotation 2s infinite linear;
}

